body {
    margin: 0 auto;
    text-align: center;
    width: 960px;
    max-width: 100%;
}

.questionTable {
    background-color: whitesmoke;
    margin: 0 auto;
    width: 260px;
}

.questionSection {
    padding-bottom: 50px;
    border: solid #fff 10px;
}

header {
    padding: 10px;
    margin: 0 auto;
    text-align: center;
}

.submit {
    margin-bottom: 50px;
}

.panel-body {
    width: 400px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

.linkSection {
    margin-bottom: 40px;
}