* {
    margin: 0 auto;
    text-align: center;
}

.questionTable {
    background-color: whitesmoke;
}

.questionSection {
    padding-bottom: 50px;
}

header {
    padding: 10px;
}

.submit {
    margin-bottom: 50px;
}

.panel-body {
    width: 960px;
    max-width: 100%;
}